<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Meal Planner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>

<body class="{% block body_class %}{% endblock %}">
    <div class="container-fluid">
        <nav class="navbar navbar-expand">

            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <!-- <img src="/static/images/warbler-logo.png" alt="logo"> -->
                    <span>Recipe Search</span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!-- {% if request.endpoint != None %}
                <li>
                    <form class="navbar-form navbar-right" action="">
                        <!-- <input name="q" class="form-control" placeholder="Search" id="search">
          <button class="btn btn-default">
            <span class="fa fa-search"></span>
          </button> 
                    </form>
                </li>
                {% endif %} -->
                {% if not g.user %}
                <li><a href="/signup" class="btn ">Sign up</a></li>
                <li><a href="/login" class="btn ">Log in</a></li>
                {% else %}
                <li><a href="/mealplanner" class="btn ">My Meal Planner</a></li>
                <li><a href="/recipes/liked" class="btn ">My Recipe Box</a></li>
                <li><a href="/shopping_list" class="btn ">My Shopping List</a></li>
                <li><a href="/logout" class="btn">Log out</a></li>
                {% endif %}
            </ul>
    </div>
    </nav>
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="/static/app.js"></script>
</body>

</html>