{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}
<div class="home-hero">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="join-message">Join Meal Planner today!</h2>
            <form method="POST" id="user_form">
                {{ form.hidden_tag() }}

                {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ field(placeholder=field.label.text, class="form-control mb-3") }}
                {% endfor %}

                <button class="btn btn-secondary btn-md btn-block">Sign me up!</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}